:root {
    --sand: #FBD784;
    --darkBack: #353535;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

body::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    background-color: #353535;
}

body::-webkit-scrollbar-thumb {
    background-color: #FBD784;
}

body::-webkit-scrollbar-track {}

.navbar {
    color: white;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 20px 26px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    transition: 0.5s all ease-in-out;
}


.navlinks {
    list-style-type: none;
    display: flex;

}

.navlinks li {
    margin-right: 2vw;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 8px 16px;

}

.navlinks li:hover {
    color: var(--darkBack);
    background-color: white;
    cursor: pointer;
}

.login {
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 2vw;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    color: var(--darkBack);
    background-color: white;
    cursor: pointer;
}

.landing_section {
    position: relative;
    height: 104vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.landing_content {
    margin-top: 12vw;
    color: white;
    z-index: 3;
}

.landing_section img {
    position: absolute;
    width: 100%;
}

#landing_heading {
    font-size: 2rem;
}

#scroll_down {
    display: flex;
    padding-top: 10px;
    animation: updown 2s infinite linear;

}

#scroll_down img {
    position: relative;
    height: 20px;
    width: auto;
    margin-left: 10px;
}

@keyframes updown {
    0% {

        margin-top: 0;
    }

    50% {
        margin-top: 10px;
    }

    100% {
        margin-top: 0;
    }

}

.hiking_para {
    color: var(--sand);
    display: flex;

}

.hiking_para span {
    display: flex;
}

#man {
    z-index: 5;
    /* margin-top: 60vh; */
    top: 60%;
}

#mountains {
    z-index: 4;
    margin-top: 40vh;
}

#sun {
    z-index: 3;
    width: 20vw;
    height: auto;
    top: 56%;
    right: 24%;
}

.dark_gradient {
    position: absolute;
    height: 500vh;
    width: 500vw;
    z-index: 2;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0.253) 31.06%, #0B1D26 108.93%);
}

#clouds {
    z-index: 1;
    top: 0%;
    margin-top: -100%;
    left: 0%;
    width: 200vw;
    height: 400vh;
}



.landing_section::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(to top, #0B1D26 26.38%, transparent);

}

@media screen and (max-width:770px) {

    .navlinks,
    .login {
        display: none;
    }
}

@media screen and (max-width:430px) {
    #mountains {
        margin-top: 65vh;
        width: 134vw;
    }

    #clouds {
        margin-top: 0;
        width: 300vw;
        height: 100vh;
    }

    .landing_content {
        margin-top: 55vw;
        padding: 0 10px;
    }

    #sun {
        top: 50%;
    }

    #man {
        top: 78%;
    }

    #landing_heading {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:370px) {

    #landing_heading {
        font-size: 1.3rem;

    }

    #mountains {
        width: 154vw;
        margin-top: 75vh;
    }

    #clouds {
        width: 300vw;
        height: 140vh;
    }

    .landing_content {
        margin-top: 60vw;
    }

    #man {
        top: 82%;
    }
}

/* content section 1  */
/*  */

.content {
    /* height: 100vh; */
    background-color: #0B1D26;
    position: relative;
}

.content-section1 {
    padding: 8rem 3rem 0rem 3rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

/* .gap {
    width: 5rem;
} */

.fadein {
    opacity: 0;
}

.content-section1 .right img {
    width: auto;
    height: 20rem;
    border-radius: 15px;
}

.start-para {
    color: var(--sand);
}

.content-heading {
    color: white;
    margin-top: 15px;
}

.content_desc {
    color: white;
    font-size: 14px;
    margin-top: 15px;
}

.read_more {
    display: block;
    color: var(--sand);
    text-decoration: none;
    margin-top: 15px;
    align-items: center;
}

.read_more span img {
    height: 12px;
}

.left {
    position: relative;
}

.section_number {
    color: #FFFFFF;
    opacity: 10%;
    font-size: 5rem;
    font-weight: bolder;
    position: absolute;
    top: -24%;
    left: -16%;
}

footer {
    background-color: #0B1D26;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width:1030px) {
    .content-section1 {
        flex-direction: column;
    }

    .left {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .content-section1 .right img {
        width: 50vw;
        height: auto;
        margin-top: 2rem;
        border-radius: 15px;
    }

    .content-section2 {
        flex-direction: column-reverse;
    }

    .content-section3 {
        padding-bottom: 2rem;
    }

    .section_number {
        left: -9%;
    }

}